menu "Wi-Fi connection configuration"
    config WM_SNTP_TIME_SERVER
        string "SNTP server name"
        default "pool.ntp.org"
        help
            Hostname of the main SNTP server.

    config WM_CAPTIVE_PORTAL_NETWORK_NAME
        string "Captive portal network name"
        default "pill-dispenser"

    config WM_WIFI_CONN_MAX_RETRY
        int "Maximum retry"
        default 6
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    choice WM_WIFI_SCAN_METHOD
        prompt "WiFi Scan Method"
        default WM_WIFI_SCAN_METHOD_FAST
        help
            WiFi scan method:

            If "Fast" is selected, scan will end after find SSID match AP.

            If "All Channel" is selected, scan will end after scan all the channel.

        config WM_WIFI_SCAN_METHOD_FAST
            bool "Fast"
        config WM_WIFI_SCAN_METHOD_ALL_CHANNEL
            bool "All Channel"
    endchoice

    menu "WiFi Scan threshold"
        config WM_WIFI_SCAN_RSSI_THRESHOLD
            int "WiFi minimum rssi"
            range -127 0

            default -127
            help
                The minimum rssi to accept in the scan mode.

        choice WM_WIFI_SCAN_AUTH_MODE_THRESHOLD
            prompt "WiFi Scan auth mode threshold"
            default WM_WIFI_AUTH_WEP
            help
                The weakest authmode to accept in the scan mode.

            config WM_WIFI_AUTH_OPEN
                bool "OPEN"
            config WM_WIFI_AUTH_WEP
                bool "WEP"
            config WM_WIFI_AUTH_WPA_PSK
                bool "WPA PSK"
            config WM_WIFI_AUTH_WPA2_PSK
                bool "WPA2 PSK"
            config WM_WIFI_AUTH_WPA_WPA2_PSK
                bool "WPA WPA2 PSK"
            config WM_WIFI_AUTH_WPA2_ENTERPRISE
                bool "WPA2 ENTERPRISE"
            config WM_WIFI_AUTH_WPA3_PSK
                bool "WPA3 PSK"
            config WM_WIFI_AUTH_WPA2_WPA3_PSK
                bool "WPA2 WPA3 PSK"
            config WM_WIFI_AUTH_WAPI_PSK
                bool "WAPI PSK"
        endchoice
    endmenu

    choice WM_WIFI_CONNECT_AP_SORT_METHOD
        prompt "WiFi Connect AP Sort Method"
        default WM_WIFI_CONNECT_AP_BY_SIGNAL
        help
            WiFi connect AP sort method:

            If "Signal" is selected, Sort matched APs in scan list by RSSI.

            If "Security" is selected, Sort matched APs in scan list by security mode.

        config WM_WIFI_CONNECT_AP_BY_SIGNAL
            bool "Signal"
        config WM_WIFI_CONNECT_AP_BY_SECURITY
            bool "Security"
    endchoice
endmenu
