
menu "PILL DISPENSER config"
    config HTTP_ENDPOINT
        string "HTTP Endpoint"
        default "pills.ai.medsenger.ru"
        help
            Target endpoint for pill dispenser backend

    config CELLS_COUNT
        int "Cells count"
        default 4
        help
            Count of meds cells in current device

    config SERIAL_NUMBER
        string "Serial number"
        default UNKNOWN
        help
            Serial number of device for identification
endmenu
