menu "Medsenger HTTP requests"
    config HTTP_ENDPOINT
        string "HTTP Endpoint"
        default "pills.ai.medsenger.ru"
        help
            Target endpoint for pill dispenser backend

    config FETCH_SCHEDULE_QUERY_PATH
        string "Fetch schedule query"
        default "/pill-dispenser/schedule"
        help
            Query path for fetch schedule endpoint

    config SUBMIT_SUCCESS_QUERY_PATH
        string "Submit success query"
        default "/pill-dispenser/submit"
        help
            Submit success pill for specific cell query path
    
    config REQUEST_RETRY_COUNT
        int "Request retry count"
        default 3
        help
            Number of HTTP-request retries
endmenu
